svg {
  cursor: pointer;
}

.rotateButton {
  display: block;
  margin: 20px auto;
  // padding: 10px 20px;
  font-size: 20px;
}

.arc path {
  stroke: #fff;
}

.arc text {
  fill: #000;
  font-size: 1.3em;
  font-weight: bold;
}

#startButton {
  cursor: pointer;
}
